<% layout('/layouts/boilerplate') %>
<div class="container mt-5">
	<h1>Admin Page</h1>
	<div>
		<p><a class="btn btn-primary" href="/admin/staff">Add/Edit Staff</a></p>
		<p><a class="btn btn-primary" href="/admin/discounts">Add/Edit Discounts</a></p>
		<p><a class="btn btn-primary" href="/menu/new">Add Menu Item</a></p>
	</div>
</div>
