<% layout('layouts/boilerplate') %>
<link rel="stylesheet" href="css/home.css" />

<div class="container gap-6">
	<div class="row"></div>

	<div class="row mt-3">
		<div class="col-md-6">
			<div class="card mt-3 p-6 col-py-6" style="width: 25rem">
				<form action="/login" method="POST" class="needs-validation">
					<div class="card-body" style="height: 25rem">
						<div class="mb-3">
							<h5 class="card-title">Welcome Back!</h5>
						</div>

						<div class="mb-3">
							<input class="form-control" type="text" name="username" id="username" placeholder="Username" required />
							<div class="invalid-feedback">Enter your username.</div>
						</div>

						<div class="mb-3">
							<input type="password" class="form-control" id="inputPassword" placeholder="Password" required />
							<div class="invalid-feedback">Enter your password.</div>
						</div>

						<div class="mb-3">
							<a href="forgotpassword.ejs">Forgot Password?</a>
						</div>
					</div>

					<div class="card-footer">
						<div class="row-p3">
							<button type="submit" class="btn btn-primary">Log In</button>
						</div>

						<div class="row-py-6"></div>

						<br />

						<p>Don't have an account? <a href="register.ejs">Click Here</a></p>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>
