<% layout('/layouts/boilerplate') %>

<body>
	<h1>Restaurant</h1>
	<a class="btn btn-primary" href="/login">login</a>
	<a class="btn btn-primary" href="/register">register</a>
	<a class="btn btn-primary" href="/logout">logout</a>
</body>
