body {
	height: 100vh;
	background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
		url('https://cdn.shopify.com/s/files/1/0449/4209/8582/products/Blueberry_Blue_Macarons_12Pack_WDM12BL.jpg?v=1600346353&fbclid=IwAR2ykEyWK90qKcKwRUXJ9LOBCP_Z9rY1B9ZYpnRANnCnUODv9tWfiSJdjeQ');
	background-size: cover;
	background-position: center;
}