<% layout('/layouts/boilerplate') %>

<form action="/booking" method="post">
	<input type="date" name="date" id="date" placeholder="date" />
	<input type="tables" name="tables" id="tables" placeholder="tables" />

  <button type="submit">Make Booking</button>
</form>
