<% layout('/layouts/boilerplate') %>

<form action="/bookings" method="post">
	<input type="date" name="date" id="date" placeholder="date" />
	<input type="text" name="time" id="time" placeholder="time" />
	<input type="number" name="tables" id="tables" placeholder="tables" />

  <button type="submit">Make Booking</button>
</form>
