<% layout('layouts/boilerplate') %>

<link rel="stylesheet" href="css/menu.css" />

<div class="container">
	<div class="row">
		<div class="col p-2 lr-opacity">
			<div class="pb-4 text-center">
				<img
					src="https://lh3.googleusercontent.com/SQC1sMA80Rtp-QRlflNiDS9TN3P71urCxKK5Hf_NfJWn32Yjvo5qpPPrlKoa2px6tQdmdw=s114"
					class="rounded-pill w-50"
					alt="Arclight Logo"
				/>
			</div>
			<ul class="ps-2 list-group list-group-flush bg-transparent w-75">
				<a href="#" class="list-group-item text-dark active-page pb-0 border-dark">
					<h6>Menu</h6>
					<p>Our Delicious Dishes</p>
				</a>
				<a href="#" class="list-group-item list-group-item-action bg-transparent pb-0 border-dark">
					<h6>Booking</h6>
					<p>Dine in With Us</p>
				</a>
				<a href="#" class="list-group-item list-group-item-action bg-transparent pb-0 border-dark">
					<h6>Gallery</h6>
					<p>Photos of Our Venue</p>
				</a>
				<a href="#" class="list-group-item list-group-item-action bg-transparent">
					<h6>Contact</h6>
					<p>Get in Touch</p>
				</a>
			</ul>
			<div class="d-flex pb-3 justify-content-center gap-4">
				<img
					width="40"
					height="40"
					src="https://lh3.googleusercontent.com/WxcZMI-t30SKThlu95XSK_X7n-2oWiZxS_Z2CEnjXXSBgNI4eQY8fiIGz-tdgm3J_4Pb=s85"
					alt="Facebook Link"
				/>
				<img
					width="40"
					height="40"
					src="https://lh3.googleusercontent.com/THijCo9ln33Rut-1y0J9LRn5T7UjEG35uxshxX6c0G_AZDsWP1FvuAr6M0NmnOaz6xSeIw=s85"
					alt="Instagram Link"
				/>
				<img
					width="40"
					height="40"
					src="https://lh3.googleusercontent.com/nU1-FbMfmJwBne3W7qnjbNkUsknqK4CYyBvxZVJ_TM3I_k9P4a_2CxzGNU54XAnU4pNtQCg=s85"
					alt="Google Page Link"
				/>
			</div>
			<p>1266, Lake Floyd Circle, Aiden, KS, Kansas, 67512</p>
		</div>
		<div class="col-6 mid-opacity text-white">
			<ul class="list-group list-group-flush">
				<li class="list-group-item bg-transparent border-white"><h1>MAIN COURSES</h1></li>
				<% menu.forEach(MenuItem => { %>
				<li class="list-group-item bg-transparent border-white">
					<div class="card mb-3 bg-transparent border-0" style="max-width: 540px">
						<div class="row g-0">
							<div class="col-md-4 align-middle">
								<img src="<%= MenuItem.imageUrl %>" class="pt-3 img-fluid rounded-3"/>
							</div>
							<div class="col-md-8">
								<div class="card-body">
									<div class="d-flex justify-content-between">
										<h5 class="card-title"><%= MenuItem.name %></h5>
										<h6 class="card-text">$ <%= MenuItem.price %></h6>
									</div>
									<p class="card-text"><%= MenuItem.description %></p>
									<div class="d-flex justify-content-end gap-2">
										<button type="button" class="btn btn-sm btn-circle bg-white"><h5>+</h5></button>
										<button type="button" class="btn btn-sm btn-circle bg-white"><h5>-</h5></button>
										<input
											type="text"
											class="form-control w-auto max-width-2"
											size="1"
											width="1"
											maxlength="3"
											value="0"
											aria-label="Quantity"
										/>
									</div>
								</div>
							</div>
						</div>
					</div>
				</li>
				<% }) %>
			</ul>
		</div>
		<div class="col d-flex flex-column lr-opacity pt-5">
			<h2 class="pb-5 border-bottom text-center border-dark">CHECKOUT</h2>
			<ul class="list-group">
				<li class="list-group-item d-flex bg-transparent border-0 justify-content-between">
					<p>Pistachio Quiche - (x2)</p>
					<p>$00.00</p>
				</li>
			</ul>
			<div class="pb-3 pt-3 d-grid gap-2 mt-auto border-top border-dark">
				<button type="button" class="btn btn-info text-white border-dark">PAY $00.00</button>
			</div>
		</div>
	</div>
</div>
<div id="test"></div>
