<head>
  <style>
    .b-sidebar .sidebar-content {
      width: 400px;
    }

    .b-sidebar .formItemWrapper {
      padding: 10px 0px 10px 10px;
    }

    .b-sidebar .headingWrapper {
      padding: 0px 10px;
    }

    .dropdown-item:active {
      background-color: #e9ecef;
    }

    .drawer-footer {
      position: absolute;
      bottom: 0;
      padding: 10px;
    }

    .btn-fullwidth {
      width: 380px;
    }
  </style>
</head>
<% layout('/layouts/boilerplate') %>

<body>
  <div id="app">
    <b-sidebar
      type="is-ligjt"
      :fullheight="true"
      :overlay="true"
      :right="true"
      v-model="open"
    >
    <form action="/book" method="POST">
        <h1 class="headingWrapper">Make a booking</h1>
        <div class="headingWrapper">
          <h3>Select a date</h3>
        </div>
        <div class="formItemWrapper">
          <b-datepicker
            v-model="date"
            inline
            name="date"
            id="date"
            :min-date="minDate"
            :max-date="maxDate"
          >
          </b-datepicker>
        </div>
        <div class="headingWrapper">
          <h3>Select a time</h3>
        </div>
        <div class="formItemWrapper">
          <b-timepicker v-model="time" inline></b-timepicker>
        </div>
        <div class="headingWrapper">
          <h3>Number of People</h3>
        </div>
        <div class="formItemWrapper">
          <b-field>
            <b-numberinput
              :min="1"
              :max="6"
              v-model=numValue
              name="number"
              id="number"
            ></b-numberinput>
          </b-field>
        </div>
        <div class="formItemWrapper">
          <button type="button" class="btn btn-primary btn-fullwidth">
            Book
          </button>
        </div>
      </form>
    </b-sidebar>

    <b-button @click="open = true">Show</b-button>
  </div>

  <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12"></script>
  <link
    rel="stylesheet"
    href="https://cdn.jsdelivr.net/npm/@mdi/font@5.8.55/css/materialdesignicons.min.css"
  />

  <script src="https://unpkg.com/vue"></script>
  <script src="https://unpkg.com/buefy/dist/buefy.min.js"></script>

  <script>
    const minDate = new Date();
    var maxDate = new Date();
    maxDate.setDate(maxDate.getFullYear() + 1);

    const app = new Vue({
      el: "#app",
      data: {
        open: false,
        date: new Date(),
        minDate: minDate,
        maxDate: maxDate,
        time: minDate,
        numValue: 1,
      },
    });
  </script>
</body>
